# Ignore Python virtual environment directories
.env
.venv
env/
venv/
ENV/

# Ignore VS Code editor settings directory
.vscode/

# Ignore application data directories (e.g., generated or user-specific data)
# app/csv_data
app/users_data
app/password_reset_emails
